<!DOCTYPE html>
<html lang="en" data-ng-app="@ViewBag.ngApp">
<head>
    <meta charset="utf-8" />
    <title>Contact Manager</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css/all")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/js/all")
    @RenderSection("scripts", required: false)
</body>
</html>
